/* @supports (display: grid) {
  @media screen and (max-width: 736px) and (orientation:landscape) {
    .site {
      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-rows: 15vh 60% 1fr;
      grid-template-areas:
        "title title"
        "lounge verbage"
        "footer footer";
    } */

    /* .lounge {
      grid-area: lounge;
      width: 100%;
    }
    .lounge-verbage {
      grid-area: verbage;
    }
    .title {
      grid-area: title;
    }
    .foot {
      grid-area: footer;
    } */
  /* } */

/* @supports (display: grid) { */
 @media screen and (max-width: 450px) and (orientation:portrait) {
   /* * {
     margin-top: 0;
   } */
    .site {
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows:
        20vw
        110vw
        110vw
        140vw
        50vw
        100vw
        50vw
        120vw
        80vw
        80vw
        20vw;
      grid-template-areas:
        "navbar"
        "explore"
        "nebula-text"
        "nebula-image"
        "quote"
        "lounge"
        "lounge-text"
        "vision-text"  /*grin-in-grid 2x2*/
        "challenge"
        "news"  /*grid-in-grid 3x1*/
        "footer";   /*grin-in-grid  2x1*/
    }

    p {
      line-height: 1.5;
    }

    .logo-img {
        grid-area: navbar;
        width: 10vw;
        /* height: ; */
    }
    /* .topbar {
      font-size:
    } */

    .explore-text, .explore-img, .explore-img-small {
      grid-area: explore;
    }
    .explore-text {
      margin-right: 0;
      padding: 0;
      font-size: 15vw;
      text-align: center;
      /* margin-top: 0; */
    }

    .downarrow {
      display: none;
    }

    .girl-nebula-img {
      grid-area: nebula-image;
      margin: auto 0;
      width: 100%;
    }
    .girl-nebula {
      margin-top: 0;
      grid-gap: 0;
      grid-area: nebula-text;
      grid-template-rows:
      20% 80%;
      grid-template-columns: 50% 50%;
      grid-template-areas:
      "heading heading"
      "text1 text2";
    }
    .girl-nebula h2 {
      width: 90%;
      margin: 0;
      padding: 0 5%;
      font-size: 4vw;
    }
    .girl-nebula-text-1, .girl-nebula-text-2 {
      margin: 0 2vw;
    }

    p {
      font-size: 3.33vw;
    }

    .quote-img {
      width: 6vw;
    }
    .quote {
      margin: 0;
      padding-bottom: 0;
    }
    .quote-text {
      font-size: 4vw;
    }
    .quote-author {
      font-size: 2.5vw;
    }

    .lounge-img {
      margin: 0;
      height: auto;
      width: 100%;
    }
    .lounge-verbage{
      grid-area: lounge-text;
      width: 90%;
      /* margin: 0 3vw; */
      margin: 0 auto;
      font-size: 4vw;
    }
    .lounge-verbage strong{
      font-size: 6vw;
      margin: 0 auto;
    }

    div[class$="-topo"] {
      display: none;
    }
    .vision {
      padding-top: 0;
      grid-area: vision-text;
      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-rows: 25% 30% 45%;
    }
    .vision img {
      display: none;
    }
    div[class^="grey-"], div[class^="white-"]{
      display: none;
    }
    .vision div[class^="text"] {
      margin-left: 8vw;
    }
    .title-v, .text-v {
      grid-area: 1 / 1 / 2 / 3;
    }
    .title-v {
      font-size: 6vw;
    }
    .text-v {
      margin-top: 5vh;
      font-size: 4vw;
    }
    .vision strong{
      font-size: 4vw;
    }
    .text-gov {
      grid-area: 2 / 2 / 3 / 3;
    }
    .text-startup {
      grid-area: 2 / 1 / 3 / 2;
    }
    .text-corp {
      grid-area: 3 / 2 / 4 / 3;
    }
    .text-public {
      grid-area: 3 / 1 / 4 / 2;
    }

    .learn-link, .learn-more, .orange-box, .orange-box2 {
      display: none;
    }

    .challenge, .challenge-chevron {
      padding: 0;
      margin: 0;
    }

    .challenge {
      margin: 0;
    }
    .challenge-title {
      font-size: 6vw;
    }
    .challenge-text {
      text-align: justify;
      font-size: 4vw;
      margin: 4vw 8vw 0;
    }
    .challenge-link {
      box-shadow: -0.6vh 0.6vh rgb(234,83,24);
      font-weight: bold;
      transition: none;
      border-color: black;
      color: black;
      margin: 4vh 20vw;
      text-align: center;
    }
    .challenge-link:hover {
      transition: none;
      margin: 4vh 20vw;
    }

    .challenge-link span {
      color: rgb(234,83,24);
      /* font-size: 1.2vw; */
      margin-left: 1vw;
      transition: none;
    }
    .challenge-link:hover span {
      transition: none;
    }
    .news {
      grid-template-columns: 30% 5% 30% 5% 30%;
    }
    .news1{
      grid-area: 1 / 1 / 2 / 2;
    }
    .news2{
      grid-area: 1 / 3 / 2 / 4;
    }
    .news3{
      grid-area: 1 / 5 / 2 / 6;
    }
    .news p {

    }
    .news strong {
      font-size: 4vw;
      line-height: 1;
      margin-right: 2vw;
    }


    .foot {
      grid-template-columns: 50% 50%;
      grid-template-areas:
        "social copyright";
      margin-top: 0;
    }
    .social-media {
      margin-left: 5vw;
    }
    .social-media i {
      width: 5vw;
    }
    .copyright {
      margin-right: 5vw;
    }

  }
/* } */
