.site {
  margin: 0;
  color: grey;
  display: grid;
  /* grid-template-columns: 50% 50%; */
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 15vmin 100vmin 95vmin 75vmin 95vmin 1fr;
  /* grid-template-rows: 15vh auto; */
  grid-template-areas:
    "space-l1 navbar navbar navbar navbar navbar navbar navbar navbar space-r1"
    "space-l2-2 exp-text exp-text exp-text exp-text exp-img exp-img exp-img exp-img space-r1-2"
    "nebula nebula nebula nebula neb-text neb-text neb-text neb-text neb-text space-r2"
    "space-l2 space-l2 quote quote quote quote quote quote space-r3 space-r3"
    "lounge lounge lounge lounge lounge lounge space-c1 verbage verbage topo"
    "space-l4 footer footer footer footer footer footer footer footer space-r5";
}

.topbar {
  grid-area: navbar;
}
/*
u {
  text-decoration-line: underline;
  text-decoration-style: solid;
}

*/

.explore-text {
  font-size: 8vmax;
  color: black;
  grid-area: exp-text;
  text-align: right;
  z-index: 1;
  padding-bottom: 15vh;
}
.explore-img {
  width: 100%;
  margin: auto;
  grid-area: 2 / 5 / 3 / -2;
  padding-bottom: 15vh;
}
.explore-img-small {
  width: 40%;
  margin: auto;
  grid-area: 2 / 5 / 3 / -2;
  padding-bottom: 15vh;
}

.girl-nebula-img {
  grid-area: nebula;
  width: 75%;
  /* margin-top: 0; */
  margin: auto;

}

.girl-nebula {
  margin: auto;
  height: 75%;
  font-family: sans-serif;
  font-size: 1vmax;
  line-height: 2;
  /* margin-top: 5vmin; */
  color: grey;
  grid-area: neb-text;
  display: grid;
  grid-gap: 2vw;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 40% 60%;
  grid-template-areas:
    "heading heading heading heading r-space2"
    "l-space text1 text1 text2 text2";
}

.girl-nebula h2 {
  width: 120%;
  margin-top: 10vmin;
  margin-left: 7vmin;
  grid-area: heading;
  color: black;
  font-size: 2vmax;
  line-height: 1.5;
}

.girl-nebula-text-1 {
  grid-area: text1;
  margin: 0;
}

.girl-nebula-text-2 {
  grid-area: text2;
  margin: 0;
}

/* .girl-nebula u {
  grid-area: underl;
  margin-top: -30%;
} */

.quote-img {
  width: 3.5vw;
}

.quote {
  grid-area: quote;
  /* width: 55%; */
  margin: auto 2.5vw;
  /* padding: 15vmin; */
  text-align: center;
  padding-bottom: 15vmin;
}

.quote-text {
  color: black;
  font-size: 2.2vmax;
}

.quote-author {
  font-family: sans-serif;
  font-size: .95vmax;
}

.lounge {
  grid-area: lounge;
  height: 100%;
}

.lounge-verbage strong {
  color: black;
  font-family: serif;
  font-size: 3.5vmax;
  display: block;
  padding-bottom: 1em;
}

.lounge-verbage a {
  display: block;
  padding-top: 1.5em;
  font-size: 1.1vmax;
}

.lounge-verbage{
  grid-area: verbage;
  /* display: grid;
  grid-template-columns: 30% 45% 25%;
  grid-template-rows: auto;
  grid-template-areas:
    "left-space top-space right-space"
    "left-space words1 right-space"
    "left-space bottom-space right-space"; */
  font-family: sans-serif;
  font-size: 1vmax;
  margin: auto 0;
}

.lounge-text {
  grid-area: words1;
}
.lounge-topo {
  /* grid-area: topo; */
  grid-area: 5 / 8 / 6 / 11;
  z-index: -1;
  margin-top: -15%;
  margin-left: 5%;
  /* overflow-x: hidden; */
  width: 95%;
}

.title {
  grid-area: title;
}
.foot {
  grid-area: footer;
}

/* @supports (display: grid) {
  @media screen and (min-width: 768px) {
    .site {
      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-rows: 15vh 60% 1fr;
      grid-template-areas:
        "title title"
        "lounge verbage"
        "footer footer";
    }

    .lounge {
      grid-area: lounge;
      width: 100%;
    }
    .lounge-verbage {
      grid-area: verbage;
    }
    .title {
      grid-area: title;
    }
    .foot {
      grid-area: footer;
    }
  }*/
/* @media screen and (orientation:portrait) {
  .site {
    grid-template-rows: 15vh 80vmin 60vmin 60vmin 90vmin 1fr;
  }
} */
