.site {
  font-family: 'Palanquin', sans-serif;
  margin: 0;
  color: grey;
  display: grid;
  /* grid-template-columns: 50% 50%; */
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 15vmin 100vmin 115vmin 75vmin 95vmin 240vmin 1fr 75vmin 15vmin;
  /* grid-template-rows: 15vh auto; */
  grid-template-areas:
    "space-l1 logo navbar navbar navbar navbar navbar navbar navbar space-r1"
    "space-l2-2 exp-text exp-text exp-text exp-text exp-img exp-img exp-img exp-img space-r1-2"
    "nebula nebula nebula nebula neb-text neb-text neb-text neb-text neb-text space-r2"
    "space-l2 space-l2 quote quote quote quote quote quote space-r3 space-r3"
    "lounge lounge lounge lounge lounge lounge space-c1 verbage verbage topo"
    "space-l3 vision vision vision vision vision vision vision vision space-r4"
    "space-l4 space-l4 challenge challenge challenge challenge challenge challenge topo-lower space-r5"
    "news news news news news news news news news news"
    "footer footer footer footer footer footer footer footer footer footer";
}

h1, h2, h3 {
  font-family: serif;

  /* padding-bottom: 2vh; */
}

strong {
  color: black;
  /* font-family: sans-serif; */
  font-size: 1.8vw;
}

p {
  /* font-family: sans-serif; */
  font-size: 1vw;
  line-height: 2;
  margin: 0;
}

.logo-img {
  /* display: inline-block; */
  /* text-align: left; */
  grid-area: logo;
  margin-top: 2vw;
  margin-right: 10vw;
}

.topbar {
  grid-area: navbar;
  padding-top: 5vh;
  color: black;
  font-weight: bold;
}
.topbar ul{
  font-size: .95vw;
  text-align: right;
  list-style: none;
  /* display: inline-block; */
  /* margin-bottom: 8vw; */
}
.topbar ul li{
  /* list-style: none; */
  display: inline;
  padding-left: 2vw;
}
.topbar a {
  text-decoration: none;
  color: black;
}

/*
u {
  text-decoration-line: underline;
  text-decoration-style: solid;
}

*/


.explore-text {
  font-size: 8.5vw;
  -moz-font-size: 7vw;
  color: black;
  grid-area: exp-text;
  text-align: right;
  line-height: .9;
  margin: 19vh 1vw 0 0;
  z-index: 1;
  padding-top: 10vh;
  padding-bottom: 15vh;
  transition: all 1.5s;
}
.explore-img {
  width: 100%;
  margin: auto;
  grid-area: 2 / 5 / 3 / -2;
  padding-top: 10vh;
  padding-bottom: 15vh;
}
.explore-img-small {
  width: 40%;
  margin: 25% 30%;
  grid-area: 2 / 5 / 3 / -2;
  padding-top: 10vh;
  padding-bottom: 15vh;
  transition: all 1.5s;
}

.above-explore-small {
  margin-top: -30vh;
  transition: all 1.5s;
}

.downarrow {
  color: black;
  font-size: 4vw;
  grid-area: exp-img;
  text-align: right;
  margin-top: 115%;
  margin-right: 5%;
}

.girl-nebula-img {
  /* transition: all 1.0s cubic-bezier(.4, 0, 0, 1); */
  grid-area: nebula;
  margin-top: 20vh;
  width: 75%;
  /* margin-top: 20vw; */
  margin-left: -35vw;
}
.move-nebula {
  /* margin-top: 0; */
  margin-left: 12.5%;
  /* margin-right: auto; */
  transition: all .75s;
  transition-delay: .75s;
}
/* grey and white elements are to achieve the roll-in animation */
.grey-nebula {
  grid-area: nebula;
  margin-top: 20vh;
  margin-left: -35vw;
  width: 75%;
  background-color: rgb(241, 241, 241);
  z-index: -1;
}
.move-grey-nebula {
  margin-left: 12.5%;
  transition: all .75s;
}
/* white needs to be on top */
.white-nebula {
  grid-area: nebula;
  margin-top: 20vh;
  width: 12.5%;
  background-color: white;
  z-index: 2;
}

.girl-nebula {
  grid-area: neb-text;
  display: grid;
  grid-gap: 2vw;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 40% 60%;
  grid-template-areas:
  "heading heading heading heading r-space2"
  "l-space text1 text1 text2 text2";
  /* margin-top: 95vh; */
  margin-top: 20vh;
  /* margin: auto; */
  height: 75%;
  /* font-family: sans-serif; */
  font-size: 1vw;
  line-height: 2;
  /* margin-top: 5vmin; */
  color: grey;
  transition: all 1.5s;
}

/* To move the the text up and down: */
.below-neb-text {
  margin-top: 95vh;
  transition: all 1.5s;
}
.above-neb-text {
  margin-top: -50vh;
  transition: all 1.5s;
}

.girl-nebula h2 {
  width: 120%;
  margin-top: 10vmin;
  margin-left: 7vmin;
  grid-area: heading;
  color: black;
  font-size: 2vw;
  line-height: 1.5;
}

.girl-nebula-text-1 {
  grid-area: text1;
  margin: 0;
}

.girl-nebula-text-2 {
  grid-area: text2;
  margin: 0;
}

/* .girl-nebula u {
  grid-area: underl;
  margin-top: -30%;
} */

.quote-img {
  width: 3.5vw;
}

.quote {
  grid-area: quote;
  /* width: 55%; */
  margin: auto 2vw;
  /* padding: 15vmin; */
  text-align: center;
  padding-bottom: 15vmin;
}

.quote-text {
  color: black;
  font-size: 2.2vw;
  font-family: serif;
}

.quote-author {
  /* font-family: sans-serif; */
  font-size: .95vw;
}

.lounge-img {
  grid-area: lounge;
  height: 100%;
  margin-left: -60vw;
}
.move-lounge {
  /* margin-top: 0; */
  margin-left: 0;
  /* margin-right: auto; */
  transition: all .75s;
  transition-delay: .75s;
}
/* grey and white elements are to achieve the roll-in animation */
.grey-lounge {
  grid-area: lounge;
  margin-left: -60vw;
  /* height: 100%; */
  background-color: rgb(241, 241, 241);
  z-index: -1;
}
.move-grey-lounge {
  margin-left: 0;
  transition: all .75s;
}


.lounge-verbage strong {
  color: black;
  /* font-family: serif; */
  font-size: 3.5vw;
  font-family: serif;
  display: block;
  padding-bottom: 1em;
  line-height: 1;
}

.lounge-verbage a {
  display: block;
  padding-top: 1.5em;
  font-size: 1.1vw;
}

.lounge-verbage{
  grid-area: verbage;
  /* display: grid;
  grid-template-columns: 30% 45% 25%;
  grid-template-rows: auto;
  grid-template-areas:
    "left-space top-space right-space"
    "left-space words1 right-space"
    "left-space bottom-space right-space"; */
  /* font-family: sans-serif; */
  font-size: 1vw;
  margin-top: 20vh;
  transition: all 1.5s;
}

/* To move the the text up and down: */
.below-lounge-verbage {
  margin-top: 100vh;
  transition: all 1.5s;
}
.above-lounge-verbage {
  margin-top: -80vh;
  transition: all 1.5s;
}

.lounge-text {
  grid-area: words1;
}

.learn-link{
  text-decoration: none;
  color: black;
}

.orange-box{
  grid-area: words1;
  margin-top: -2.2vh;
  margin-left: -.3vw;
  background-color: rgb(246,154,99);
  height: .75vw;
  width: 2.5vw;
}

.lounge-topo {
  /* grid-area: topo; */
  grid-area: 5 / 8 / 6 / 11;
  z-index: -1;
  margin-top: -15%;
  margin-left: 5%;
  /* overflow-x: hidden; */
  width: 95%;
}

.title {
  grid-area: title;
}


.vision {
  grid-area: vision;
  padding-top: 20vh;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 16% repeat(9, 9.33%);
}

.title-v {  grid-area: 1 / 1 / 2 / 2 ;
    color: black;
    font-size: 4vw;
    margin-left: 5vw;
    margin-top: 0;
    margin-bottom: 0;
}
.text-v {
  grid-area: 2 / 1 / 3 / 2 ;
  margin-left: 5vw;
  margin-right: 12vw;
}

.learn-more{
  grid-area: 3 / 1 / 4 / 2;
  color: black;
  display: block;
  margin-top: 3vw;
  margin-left: 5vw;
  text-decoration: none;
  /* box-shadow: -0.6vh 0.6vh rgb(234,83,24); */
}

.orange-box2{
  grid-area: 3 / 1 / 4 / 2 ;
  margin-top: 8.2vh;
  background-color: rgb(246,154,99);
  height: .75vw;
  width: 2.5vw;
  margin-left: 4.8vw;
}

.bking-img {
  grid-area: 2 / 2 / 5 / 3 ;
  height: 61.6vmin;
  margin-left: 55vw;
}
.move-bking {
  /* margin-top: 0; */
  margin-left: 0;
  /* margin-right: auto; */
  transition: all .75s;
  transition-delay: .75s;
}
/* grey and white elements are to achieve the roll-in animation */
.grey-bking {
  grid-area: 2 / 2 / 5 / 3 ;
  margin-left: 55vw;
  width: 75%;
  background-color: rgb(241, 241, 241);
  z-index: -1;
}
.move-grey-bking {
  margin-left: 0;
  transition: all .75s;
}
/* white needs to be on top */
.white-bking {
  grid-area: 2 / 2 / 5 / 3 ;
  margin-left: 28vw;
  width: 55%;
  background-color: white;
  z-index: 2;
  height: 102%;
}




.text-gov {
  grid-area: 5 / 2 / 6 / 3;
  margin-top: 1vw;
  margin-left: 6vw;
  margin-right: 12vw;
}



.laptop-img {
  grid-area: 4 / 1 / 6 / 2 ;
  /* height: 100%; */
  height: 41.07vmin;
  /* width: 80%; */
  margin-left: -45vw;
}
.move-laptop {
  /* margin-top: 0; */
  margin-left: 0;
  /* margin-right: auto; */
  transition: all .75s;
  transition-delay: .75s;
}
/* grey and white elements are to achieve the roll-in animation */
.grey-laptop {
  grid-area: 4 / 1 / 6 / 2 ;
  margin-left: -45vw;
  width: 75%;
  background-color: rgb(241, 241, 241);
  z-index: -1;
}
.move-grey-laptop {
  margin-left: 0;
  transition: all .75s;
}
/* white needs to be on top */
.white-laptop {
  grid-area: 4 / 1 / 6 / 2 ;
  margin-left: -10vw;
  width: 25%;
  background-color: white;
  z-index: 2;
}


.text-startup {
  grid-area: 6 / 1 / 7 / 2;
  margin-top: 1vw;
  margin-left: 3vw;
  margin-right: 17vw;
}




.boardroom-img {
  grid-area: 6 / 2 / 8 / 3 ;
  height: 41.07vmin;
  margin-top: 3vw;
  margin-left: 55vw;
}
.move-boardroom {
  margin-top: 3vw;
  margin-left: 6vw;
  transition: all .75s;
  transition-delay: .75s;
}
/* grey and white elements are to achieve the roll-in animation */
.grey-boardroom {
  grid-area: 6 / 2 / 8 / 3 ;
  margin-top: 3vw;
  margin-left: 55vw;
  width: 75%;
  background-color: rgb(241, 241, 241);
  z-index: -1;
}
.move-grey-boardroom {
  margin-top: 3vw;
  margin-left: 6vw;
  transition: all .75s;
}
/* white needs to be on top */
.white-boardroom {
  grid-area: 6 / 2 / 8 / 3 ;
  margin-top: 3vw;
  margin-left: 36vw;
  height: 100%;
  width: 35%;
  background-color: white;
  z-index: 2;
}




.pedestrians-img {
  grid-area: 7 / 1 / 10 / 2 ;
  /* height: 100%; */
  height: 61.6vmin;
  margin-top: 3vw;
  /* margin-left: 7vw; */
  /* width: 80%; */
  margin-left: -45vw;
}
.move-pedestrians {
  /* margin-top: 0; */
  margin-left: 7vw;
  /* margin-right: auto; */
  transition: all .75s;
  transition-delay: .75s;
}
/* grey and white elements are to achieve the roll-in animation */
.grey-pedestrians {
  grid-area: 7 / 1 / 10 / 2 ;
  margin-top: 3vw;
  margin-left: -45vw;
  width: 75%;
  background-color: rgb(241, 241, 241);
  z-index: -1;
}
.move-grey-pedestrians {
  margin-left: 7vw;
  transition: all .75s;
}
/* white needs to be on top */
.white-pedestrians {
  grid-area: 7 / 1 / 10 / 2 ;
  margin-top: 3vw;
  margin-left: -10vw;
  width: 25%;
  height: 102%;
  background-color: white;
  z-index: 2;
}


.text-corp {
  grid-area: 8 / 2 / 9 / 3;
  margin-top: 4vw;
  margin-left: 8vw;
  margin-right: 12vw;
}

.text-public {
  grid-area: 10 / 1 / 11 / 2;
  margin-left: 9vw;
  margin-top: 4vw;
  margin-right: 12vw;
}

.challenge {
  padding-top: 15vw;
  grid-area: challenge;
  /* width: 55%; */
  margin: auto 2.5vw;
  /* padding: 15vmin; */
  text-align: center;
  padding-bottom: 15vmin;
}

.challenge-chevron {
  width: 3.5vw;
  margin-bottom: 30vh;
}

.move-chevron {
  margin-bottom: 0vh;
  transition: all .75s;
}

.challenge-title {
  color: black;
  font-size: 4vw;
  margin-bottom: 1vw;
}

.challenge-text {
  /* font-family: sans-serif; */
  font-size: .95vw;
  margin: 0 10vw;
}

.challenge-link {
  text-align: left;
  padding: 1vw;
  border: 0.2vh solid grey;
  margin: 8vh 17vw;
}
.challenge-link:hover {
  box-shadow: -0.6vh 0.6vh rgb(234,83,24);
  font-weight: bold;
  margin-top: 7.8vh;
  transition: all .50s;
  border-color: black;
  color: black;
}
.challenge-link:hover span {
  color: rgb(234,83,24);
  /* font-size: 1.2vw; */
  margin-left: 1vw;
  transition: all .50s;
}

.lower-topo {
  /* grid-area: topo; */
  grid-area: 7 / 8 / 8 / 11;
  z-index: -1;
  /* margin-top: -15%;
  margin-left: 5%; */
  /* overflow-x: hidden; */
  width: 100%;
}


.news {
  grid-area: news;
  display: grid;
  grid-template-columns: 11% 25% 1.5% 25% 1.5% 25% 11%;
  grid-template-rows: 100%;
  text-align: center;
  margin: auto 0;
}

.news strong {
  font-size: 1.5vw;
  line-height: 1.5;
}

.news p {
  margin: 1vw 1vw .5vw 1vw;
}

.news1 {
  grid-area: 1 / 2 / 2 / 3;
}

.news2 {
  grid-area: 1 / 4 / 2 / 5;
}

.news3 {
  grid-area: 1 / 6 / 2 / 7;
}

.news-img {
  width: 100%;
}

.foot {
  grid-area: footer;
  display: grid;
  grid-template-columns: 11% 39% 39% 11%;
  grid-template-rows: 100%;
  grid-template-areas:
    "l-space social copyright r-space";
  border-top: 1px solid lightgrey;
  margin-top: 10vw;
}

.social-media {
  grid-area: social;
  text-align: left;
  color: black;
  margin: auto 0;
}

.social-media i {
  padding-right: 1.75vw;
}

.copyright {
  grid-area: copyright;
  text-align: right;
  margin: auto 0;
}

@supports (-moz-appearance:none){
  .explore-text {
    font-size: 7vw;
  }
}
